@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Henny+Penny&family=Island+Moments&family=Kolker+Brush&family=Merienda+One&family=Monoton&family=Poppins:wght@200;400;600&family=Roboto:wght@300;400;700&family=Rubik+Burned&family=Ubuntu&family=Xanh+Mono&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: 'Roboto',sans-serif;
}

/* .material-icons{
  color: white;
} */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  background: gray;
}

.header_logo{
  display: flex;
  align-items: center;
}
.header_logo img{
  width: 100px;
  margin-left: 15px;
  cursor: pointer;
}

.header i{
  padding: 0 7px;
  cursor: pointer;
}

.header_search form{
  border: 1px solid #ddd;
  height: 35px;
  display: flex;
}
.header_search input{
  width: 500px;
  padding: 10px;
}
.header_search button{
  border: none;
}
